discord.py>=2.0.0
pymongo
python-dotenv
requests
google-generativeai
aiohttp>=3.8.0
PyNaCl

aiohttp>=3.8.0
discord.py>=2.0.0
google-generativeai
pymongo
PyNaCl
python-dotenv
requests
gspread==6.1.4
APScheduler==3.11.0
oauth2client==4.1.3
pandas==2.2.3
pytz